---
---

$gratwifi-color: rgb(233,0,32);

#header{
  border-style: solid;
  border-color: blue;
  min-height: 100px;
}

#main{
  display: flex;
  border-style: solid;
  border-color: black;
  min-height: 500px;
  width: 73%;
}

#aside{
  display: flex;
  border-style: solid;
  width: 25%;

}

#content{
}

#footer{
  display: flex;
  border-style: solid;
  border-color: red;
  min-height: 50px;
}
