---
---

$gratwifi-color: rgb(233,0,32);

#header{
  border-style: solid;
  border-color: blue;
  min-height: 100px;
}

#main{
  min-height: 500px;
  width: 75%;
  margin: 0;
  display: inline-block;
  float: left;
}

#aside{
  min-height: 500px;
  width: 25%;
  margin: 0;
  display: inline-block;
  float: left;
}

#content{
}

#footer{
  display: flex;
  border-style: solid;
  border-color: red;
  min-height: 50px;
}
