---
---

$gratwifi-color: rgb(233,0,32);

body {
  margin: 0;
}
#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 1024px;
}

header {
background-color: $gratwifi-color;

#slogan{
   color: white;
   text-align: center;
   text-decoration: solid;
  }

#language-buttons{
  display: flex;
  justify-content: center;
  height: 20px;

  a img{
    cursor: pointer;
    position: relative;
    margin: 5px;
  }
}

#menu{
  text-align: center;
  margin: 5px;
  button{
  background-color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  }
}
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;

#content {
  flex: 1;
	text-align: center;
}

aside {
  text-align: center;
}
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
}

#layoutContent{
	text-align: justify;
}

footer {
  position: relative;
  text-align: center;
  background-color: $gratwifi-color;
  margin-bottom: 20px;
  #footerInhoud{
    text-decoration: none;
    color: white;
  }
}

@media  (min-width: 700px) {

  body{
    display: flex;
    justify-content: center;
  }

  main {
    flex-direction: row;
  }
  aside {
    width: 300px;
  }
}
