
img{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

button{
  background-color: rgb(223,0,32);
  border: 1px solid rgb(223,0,32);
  color: white;
  padding: 15px 32px;
  text-align; center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

nav {
  margin-top: 250px;
  text-align: center;
  color: red;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px;) {
}

