<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="layout.css">
    <title>GratWiFi - Gratis WiFi waar en wanneer u wil !</title>
  </head>
  <body>
    <header id="header1">
      <div id="language-buttons">
        <a href="/nl"><img src="/assets/nl.gif" alt="Nederlands"></a>
        <a href="/en"><img src="/assets/gb.gif" alt="English"></a>
        <a href="/fr"><img src="/assets/fr.gif" alt="Francais"></a>
        <a href="/de"><img src="/assets/de.gif" alt="Deutsch"></a>
      </div>
    </header>
    <header id ="header2">
    <!-- <img id="logo" src="/assets/logo.png" alt="logo"> -->
      <span id="slogan">Gratis WiFi waar en wanneer u wil !</span>
    </header>
    <nav id="menu">
      <a href="/nl">Home</a>
      <a href="/nl/wat">Wat is GratWiFi?</a>
      <a href="/nl/prijzen">Prijzen</a>
      <a href="/nl/installatie">Installatie</a>
    </nav>
    <section>
      <div id="content">
        {{ content }}
      </div>
    </section>
    <aside id="aside">
    <a href="/nl/contacts/new"><img src="/assets/nl_gratis_wifi.png" alt="gratis wifi"></a>
    </aside>
    <footer>
      <div id="footer">
        Alle rechten voorbehouden GratWiFi@ -
        <a href="/nl/contacts/new">Contact</a>
         -
        <a href="https://www.teamviewer.com/nl/download/">TeamViewer Support</a>
      </div>
    </footer>
  </body>
</html>
